:host, :root {
    --color-background: #17151b;
    --color-foreground: #26262e;
}

html, body {
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    overflow: auto;
    padding: 0;
    width: 100%;
}