:host {
    display: flex;
    flex-grow: 1;
}

nav {
    background-color: var(--color-foreground);
    height: 100%;
    width: 56px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    height: 56px;
    justify-content: center;
    padding: 0;
    width: 56px;
}

nav ul li:hover {
    background-color: rgb(255 255 255 / 10%);
}

nav ul li span {
    font-size: 0.5rem;
    margin-top: 5px;
    opacity: 0.5;
    text-transform: uppercase;
}

main {
    flex-grow: 1;
    padding: 12px;
    position: relative;
}

iframe {
    border: none;
    border-radius: 6px;
    height: 100%;
    width: 100%;
}

aside {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
}